html, body {
    margin: 0;
    padding: 0;
    background: #282c34;
    color: white;
    height: 100%;
    text-align: center;
    box-sizing: border-box
    /*   padding: 10px 10px; */
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    background-color: #232328;
/*     padding-top: 30px; */
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer p {
/*     padding-bottom: 30px; */
    text-align: center;
}


.main{
    padding: 25px;
    background:  #27252a;
    border-style: solid;
    border-color: #171121;
    width: auto;
}
img{
  /* margin-top: 60px; */

  /* width: 100% */
}

details {
  display: block;
  border: 2px solid #14141b;
  border-radius: 4px;
  padding: .5em;
}
details summary {
  display: list-item;
  margin: -.5em;
  padding: .5em;
}
details[open] > summary {
  margin-bottom: .5em;
}
a{
  text-decoration: none;
  color: #e493ae;
}
a:hover{
  color: #2acdf5;
  text-decoration: underline;
}
a:active{
  color: green;
}
