html, body {
    margin: 0;
    padding: 0;
    background: #282c34;
    color: white;
    height: 100%;
    text-align: center;
    box-sizing: border-box
    /*   padding: 10px 10px; */
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    min-height: 100%:
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    background-color: #232328;
/*     padding-top: 30px; */
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer p {
/*     padding-bottom: 30px; */
    text-align: center;
}
/* .github{
/*     position: absolute; */
    right: 0;
    bottom: 25px;
    width: 25px;
} */

.main{
    padding: 25px;
    background-color: #2E333E;
}


.klavento{
    display: -moz-deck;
    background-color: #232328;
    width: 200px;
    height: 300px;
    margin: 16px;
    color: white;
    
    border-radius: 10px;
    border-style: solid;
    border-color: #343A3E;
    
    line-height: 20.2px;
    font-size: small;
    font-style: oblique;
}
.klavento img{
    max-width: 150px;
    border-radius: 100px;
    box-shadow: 0 0 10px #626D87;
    margin-top: 20px;
}

.klavento span{
    background-color: red;
}


